<div class="content">
  <div class="container">
    <h3>本文</h3>
    <%= form_with(model: @article, local: true) do |form| %>
      <%= form.text_field :text, rows: "5", style: "border: none", class: "text-box" %>
      <div class="border"></div>
      <%= form.submit "送信", class: "submit-btn btn" %>
    <% end %>
  </div>
</div>