html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

header {
  background-color: #008b8b;
}

a {
  text-decoration: none;
  color: white;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.site-title {
  font-size: 3rem;
}

.post {
  margin-right: 40px;
}

.container{
  width: 800px;
  margin: 20px auto;
  border: 1px solid #b5aaaa;
  padding: 30px;
  box-shadow: 0 1px 1px  black;
}

.content_post {
  margin-bottom: 10px;
}

.more_list {
  list-style: none;
  overflow: hidden;
}

.more_list li {
  float: left;
  text-align: center;
  margin-right: 10px;
}

.btn {
  display: block;
  background-color: #008b8b;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
}

h3 {
  color: silver;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.text-box {
  font-size: 2rem;
}

.text-box:focus {
  outline: none;
}

.border {
  width: 100%;
  margin: 10px auto;
  border: 1px solid black;
}

.submit-btn {
  margin-top: 50px;
  padding: 8px 22px;
}

h2 {
  text-align: center;
  padding: 10px;
  color: silver;
}

.input {
  padding: 20px;
}

.field {
  margin-bottom: 20px;
}

.input-container {
  width: 800px;
  margin: 20px auto;
  padding: 30px;
}

.login-btn {
  margin-top: 50px;
  padding: 8px 22px;
}